<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
logo.js
 <title>Document</title>
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <style>
        /* Estilos generales */
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: black;
        }

        /* Estilos para la ventana */
        .window {
            width: 90%; /* Cambia el ancho a un porcentaje para que sea responsive */
            max-width: 300px; /* Establece un ancho máximo */
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .window img {
            max-width: 100%;
            height: auto; /* Asegura que la altura se ajuste automáticamente */
        }
    </style>
</head>
<body>
    <div class="window">
        <img src="images\logomit.png" alt="logomit">
        <div style="width: 100%; height: 100%; text-align: center"><span style="color: white; font-size: 13px; font-family: Avenir; font-weight: 800; word-wrap: break-word">MITWallet </span><span style="color: white; font-size: 13px; font-family: Avenir; font-weight: 500; word-wrap: break-word">by MadeInTuc</span></div>
    </div>
</body>
</html>. 