<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="estilo.css">
    
    <style>
        /* Estilos generales */
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: black;
        }

        /* Estilos para la ventana */
        .window {
            width: 100%;
            max-width: 400px; /* Tamaño máximo para dispositivos más grandes */
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .profile-circle {
            width: 100px;
            height: 100px;
            background-color: lightgray;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .profile-text {
            text-align: center;
            color: #323232;
            font-size: 16px;
            font-family: Avenir;
            font-weight: 500;
            word-wrap: break-word;
        }

        /* Estilos para el formulario */
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        /* Estilos para los campos de entrada y botones */
        .input-container {
            position: relative;
            margin-top: 10px;
        }

        button {
            width: 100%;
            padding: 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
            font-size: 16px;
            background-color: white; /* Color de fondo del botón */
            color: #323232; /* Color del texto del botón */
            cursor: pointer;
        }

        .button-container {
            margin-top: 10px;
            text-align: center; /* Esto centra el botón */
        }

        /* Media Query para dispositivos más pequeños */
        @media (max-width: 768px) {
            .window {
                max-width: 90%; /* Reducir el ancho máximo para pantallas más pequeñas */
            }
        }
    </style>
</head>

<body>
    <div class="window">
        <div class="profile-circle">
            <div class="profile-text">
               
            </div>
        </div>
        <div style="width: 100%; height: 100%; text-align: center; color: #818181; font-size: 20px; font-family: Avenir; font-weight: 800; word-wrap: break-word">Nombre y Apellido</div>
        <div style="width: 100%; text-align: center; color: #818181; font-size: 16px; font-family: Avenir; font-weight: 800; word-wrap: break-word">Empresa</div>
        <form>
            <div class="input-container">
                <button type="button" id="email">Email</button>
            </div>

            <div class="input-container">
                <button type="button" id="password">Contraseña</button>
            </div>

            <div class="input-container">
                <button type="button" id="nombre">Nombre</button>
            </div>

            <div class="input-container">
                <button type="button" id="apellido">Apellido</button>
            </div>

            <div class="input-container">
                <button type="button" id="empresa"> Empresa</button>
            </div>

            <div class="input-container">
                <button type="button" id="whatsapp"> WhatsApp</button>
            </div>
            <div style="width: 100%; height: 100%; text-align: center"><span style="color: white; font-size: 13px; font-family: Avenir; font-weight: 800; word-wrap: break-word">MITWallet </span><span style="color: white; font-size: 13px; font-family: Avenir; font-weight: 500; word-wrap: break-word">by MadeInTuc</span></div>
        </form>
    </div>
</body>
</html>
